body {
        position:           fixed; 
        padding:            0;
        margin:             auto;
        background:        #FAFAFA;/*#2E2E2E*/ top right no-repeat;
        border-width:       0px;
        font-family:        Arial;
        font-size:          18px;
        color:              #3b3b3b;
        width:100%;
        min-width:600px;
        max-width:2000px;
        
}

nav h1 {
        color:     #FFFFFF;
        text-align: center;
        margin-top: 20px;
}

nav#Bandeau{
        position:           fixed;
        top:                0;
        background:         rgba(1,137,76,1);
        height:             75px;
        width:              100%;
        z-index:            10;
        box-shadow:         0 2px 2px 2px #01894C;
        /*border:             5px solid #01894C;*/
        /*padding:            0px;*/
        text-align:         center;  /*permet de centrer le contenu - ici les <dl> rendu en inline-block*/
        transition-property:   height;
        transition-duration:      0.5s;
        min-width: 700px;
        max-width: 2000px;
}

/*div#bandeau:hover{
        position:           fixed;
        height:             120px;
        overflow: hidden;
}*/

#light-mode {

     position: fixed;
     right: 60px;
     top: 5px;
     height: 5px;
     width: 5px;

     background-color: var(--color-primary-dark);
     border: 1px solid var(--color-primary-light);
     color: var(--color-primary-light);
     border-radius: 50%;
}

.nightmode {
    --color-page-background: rgba(0, 0, 20, .95);
    --color-primary-light: rgb(10,10,10);
    --color-primary-dark: rgb(240,240,240);
}

dl {
    position:       relative;       /*dépendant de son conteneur <div> et de ses voisins <dl>*/
    display:        inline-block;   /*dl est de type block par défaut donc impossible de les aligner d'où inline-block*/
    width:          -500px;          /*taille fixée pour le centrage voir div#bandeau*/
    vertical-align: top;            /*baseline par défaut, réaligne les hauts de menu déroulant*/
}

dt:hover {
     box-shadow: 0px 2px 0px #111211;
     color: #111211;
  
}

#mapLannion {
    position: fixed;
    margin-top: 25px;
    margin-left: 35px;
    height: 580px;
    width: 720px;

}

nav h1{
    margin-top: 30px;
}

div h2 {
    margin-left: 850px;
    margin-top: 50px;
}